<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper default-theme" [ngClass]="getClasses()">
  <app-navbar *ngIf="authServ.isLoggedIn()"></app-navbar>
  <main>
    <sidebar *ngIf="authServ.isLoggedIn()"></sidebar>
    <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
      <router-outlet></router-outlet>
      <hr>
      <app-footer *ngIf="authServ.isLoggedIn()"></app-footer>
    </div>
    <div *ngIf="authServ.isLoggedIn()" class="overlay" (click)="toggleSidebar()"></div>
  </main>
</div>
